<div class="kt-subheader   kt-grid__item" id="kt_subheader">
    <div class="kt-container  kt-container--fluid ">
        <div class="kt-subheader__main">
            <LinkTo @route="axx.master">
                <h3 class="kt-subheader__title">
                    {{t "master"}}
                </h3>
            </LinkTo>
            <span class="kt-subheader__separator kt-subheader__separator--v"></span>
            <div class="kt-subheader__group" id="kt_subheader_search">
                <LinkTo @route={{@breadcrumbs.route}}>
                    <span class="kt-subheader__desc" id="kt_subheader_total">
                        {{@breadcrumbs.title}}
                    </span>
                </LinkTo>
                {{#each @breadcrumbs.subNav as |nav|}}
                    <LinkTo @route={{nav.route}}>
                        <span class="kt-subheader__desc" id="kt_subheader_total" >
                            > {{nav.name}}
                        </span>
                    </LinkTo>
                {{/each}}
            </div>
        </div>
    </div>
</div>