<Metronic::SubHeader @title={{t "staff.identifier"}} />

<Metronic::MContainer>

    <Metronic::MPortlet as |portlet|>

        <portlet.head>
            <div class="kt_portlet__head-actions">
                <Metronic::MButton
                    @route="axx.master.staffs.add"
                    @label={{t "staff.heading.add"}}
                    />
            </div>
        </portlet.head>

        <portlet.body>

            <MDatatable
                @modelName="staff"
                @columns={{this.columns}}
                @filterParameters={{this.filterParameters}}
                @includeParameters={{this.includeParameters}}
                @refreshData={{this.refreshData}}
                @onEdit={{this.editStaffRecord}}
                @onDelete={{this.deleteStaffRecord}}
                />

        </portlet.body>

    </Metronic::MPortlet>

</Metronic::MContainer>