<h2 class="card-title">{{product.formattedPrice}}</h2>

{{!--
<button
	class="btn btn-lg btn-block btn-danger"
	{{action addProduct }}
>
	{{t "button.add_to_cart"}}
</button>
--}}

<button
	class="btn btn-lg btn-block btn-white"
	{{action buyProduct}}
>
	{{t "button.buy_now"}}
</button>
