<div class="container">
	<div class="signup-content mt-5">
		<div class="signup-form">
			<h2 class="form-title">Sign up</h2>
			<form {{action "register" on="submit"}} class="register-form" id="register-form">
				<div class="form-group">
					<label class="alt-label" for="first_name"><i class="fas fa-signature"></i></label>
					{{input
						value=first_name
						placeholder=(t "attr.first_name")
						type="text"
						focus-out=(action (mut showFirstNameError) true)
						class="alt-input"
						disabled=isProcessing
					}}

					{{#if showFirstNameError}}
						{{#if (v-get this 'first_name' 'isInvalid')}}
							<small class="form-text text-danger">
								{{v-get this 'first_name' 'message'}}
							</small>
						{{/if}}
					{{/if}}
				</div>
				<div class="form-group">
					<label class="alt-label" for="last_name"><i class="fas fa-signature"></i></label>
					{{input
						value=last_name
						placeholder=(t "attr.last_name")
						type="text"
						focus-out=(action (mut showLastNameError) true)
						class="alt-input"
						disabled=isProcessing
					}}

					{{#if showLastNameError}}
					{{#if (v-get this 'last_name' 'isInvalid')}}
					<small class="form-text text-danger">
						{{v-get this 'last_name' 'message'}}
					</small>
					{{/if}}
					{{/if}}
				</div>
				<div class="form-group">
					<label class="alt-label" for="address"><i class="fas fa-map-marker-alt"></i></label>
					{{input
						value=address
						placeholder=(t "attr.address")
						type="text"
						focus-out=(action (mut showAddressError) true)
						class="alt-input"
						disabled=isProcessing
					}}

					{{#if showAddressError}}
					{{#if (v-get this 'address' 'isInvalid')}}
					<small class="form-text text-danger">
						{{v-get this 'address' 'message'}}
					</small>
					{{/if}}
					{{/if}}
				</div>
				<div class="form-group">
					<label class="alt-label" for="phone"><i class="fas fa-mobile-alt"></i></label>
					{{input
						value=phone
						placeholder=(t "attr.phone")
						type="text"
						focus-out=(action (mut showPhoneError) true)
						class="alt-input"
						disabled=isProcessing
					}}

					{{#if showPhoneError}}
					{{#if (v-get this 'phone' 'isInvalid')}}
					<small class="form-text text-danger">
						{{v-get this 'phone' 'message'}}
					</small>
					{{/if}}
					{{/if}}
				</div>
				<div class="form-group">
					<label class="alt-label" for="email"><i class="fas fa-at"></i></label>
					{{input
						value=email
						placeholder=(t "attr.email")
						type="email"
						key-up=(action (mut showEmailError) true)
						class="alt-input"
						disabled=isProcessing
					}}

					{{#if showEmailError}}
					{{#if (v-get this 'email' 'isInvalid')}}
					<small class="form-text text-danger">
						{{v-get this 'email' 'message'}}
					</small>
					{{/if}}
					{{/if}}
				</div>
				<div class="form-group">
					<label class="alt-label" for="registrationCertificateNumber"><i class="fas fa-certificate"></i></label>
					{{input
						value=registration_certificate_number
						placeholder=(t "attr.registration_certificate_number")
						type="text"
						key-up=(action (mut showRegistrationCertificateNumberError) true)
						class="alt-input"
						disabled=isProcessing
					}}

					{{#if showRegistrationCertificateNumberError}}
						{{#if (v-get this 'registration_certificate_number' 'isInvalid')}}
							<small class="form-text text-danger">
								{{v-get this 'registration_certificate_number' 'message'}}
							</small>
						{{/if}}
					{{/if}}
				</div>
				<div class="form-group">
					<label class="alt-label" for="password"><i class="fas fa-user-lock"></i></label>
					{{input
						value=password
						placeholder=(t "attr.password")
						type="password"
						focus-out=(action (mut showPasswordError) true)
						class="alt-input"
						disabled=isProcessing
					}}

					{{#if showPasswordError}}
					{{#if (v-get this 'password' 'isInvalid')}}
					<small class="form-text text-danger">
						{{v-get this 'password' 'message'}}
					</small>
					{{/if}}
					{{/if}}
				</div>
				<div class="form-group">
					<label class="alt-label" for="password_confirmation"><i class="fas fa-user-lock"></i></label>
					{{input
						value=password_confirmation
						placeholder=(t "attr.password_confirmation")
						type="password"
						focus-out=(action (mut showPasswordConfirmationError) true)
						class="alt-input"
						disabled=isProcessing
					}}

					{{#if showPasswordConfirmationError}}
					{{#if (v-get this 'password_confirmation' 'isInvalid')}}
					<small class="form-text text-danger">
						{{v-get this 'password_confirmation' 'message'}}
					</small>
					{{/if}}
					{{/if}}
				</div>

				{{g-recaptcha onSuccess=(action "onCaptchaResolved") onExpired=(action "onCaptchaExpired")}}

				{{#if isProcessing}}
					<button class="btn btn-primary" type="submit">
						<i class="fas fa-spinner fa-spin"></i>&nbsp;
						Processing ...
					</button>
				{{else}}
					<input type="submit" name="signup" id="signup" class="btn btn-login" value="Register"
						disabled={{isProcessing}}
					/>
				{{/if}}
			</form>
		</div>

		<div class="signup-image">
			<figure><img src="assets/img/signup-image.png" alt="sing up image"></figure>
			{{#link-to (r "login") class="signup-image-link"}}I'm already a member{{/link-to}}
		</div>

	</div>
</div>

{{yield}}
