<h2 class="form-title">{{titleize (t "Reset Password")}}</h2>

<form {{action 'resetPassword' on='submit'}}
	autocomplete="off"
	class="reset-password-form"
	id="reset-password-form"
	>

	{{#unless isEmailInputHidden}}
		<div class="form-group">

			<label class="alt-label" for="email"><i class="fas fa-envelope"></i></label>

			{{input
				value=email
				placeholder=(t "attr.email")
				type="email"
				key-up=(action (mut showEmailError) true)
				class="alt-input"
			}}

			{{#if showEmailError}}
				{{#if (v-get this 'email' 'isInvalid')}}
					<small class="form-text text-danger">
						{{v-get this 'email' 'message'}}
					</small>
				{{/if}}
			{{/if}}

		</div>
	{{/unless}}

	<div class="form-group">

		<label for="password" class="alt-label"><i class="fas fa-key"></i></label>

		{{input
			value=password
			placeholder=(t "attr.password")
			type="password"
			focus-out=(action (mut showPasswordError) true)
			class="alt-input"
			id="reset-password_password"
		}}

		{{#if showPasswordError}}
			{{#if (v-get this 'password' 'isInvalid')}}
				<small class="form-text text-danger">
					{{v-get this 'password' 'message'}}
				</small>
			{{/if}}
		{{/if}}

	</div>

	<div class="form-group">

		<label for="password" class="alt-label"><i class="fas fa-key"></i></label>

		{{input
			value=password_confirmation
			placeholder=(t "attr.password_confirmation")
			type="password"
			focus-out=(action (mut showPasswordConfirmationError) true)
			class="alt-input"
			id="reset-password_password_confirmation"
		}}

		{{#if showPasswordConfirmationError}}
			{{#if (v-get this 'password_confirmation' 'isInvalid')}}
				<small class="form-text text-danger">
					{{v-get this 'password_confirmation' 'message'}}
				</small>
			{{/if}}
		{{/if}}

	</div>

	{{input
		type="submit"
		name="resetPasswordSubmit"
		id="resetPasswordSubmit"
		value=(t "Reset Password")
		class="btn btn-login"
		disabled=isProcessing
	}}

</form>

{{yield}}
