<Metronic::SubHeader @title={{t "expedition.identifier"}} />

<Metronic::MContainer>

    <Metronic::MPortlet as |portlet|>

        <portlet.head>
            <div class="kt_portlet__head-actions">
                <Metronic::MButton
                    @route="axx.master.expeditions.add"
                    @label={{t "expedition.heading.add"}}
                    />
            </div>
        </portlet.head>

        <portlet.body>

            <MDatatable
                @modelName={{this.formRecordModel}}
                @columns={{this.columns}}
                @filterParameters={{this.filterParameters}}
                @refreshData={{this.refreshData}}
                @onEdit={{this.editExpeditionRecord}}
                @onDelete={{this.deleteExpeditionRecord}}
                />

        </portlet.body>

    </Metronic::MPortlet>

</Metronic::MContainer>