<nav aria-label="breadcrumb">
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			{{#link-to (r 'dashboard')}}{{t 'dashboard'}}{{/link-to}}
		</li>
	</ol>
</nav>

<div class="container">

	<div class="signin-content row justify-content-center">

		<div class="col-12 col-md-6 order-md-12 align-self-center">
			<div class="signin-form">

				<h3 class="form-title">Permintaan Reset Password</h3>

				<form {{action 'requestResetPassword' on='submit'}}
					class="reset-password-request-form"
					id="reset-password-request-form"
					>

					<div class="form-group">

						<label for="email" class="alt-label"><i class="fas fa-envelope"></i></label>

						{{input
							value=email
							placeholder=(t "attr.email")
							type="email"
							focus-out=(action (mut showEmailError) true)
							class="alt-input"
							id="forgot-password_email"
						}}

						{{#if showEmailError}}
							{{#if (v-get this 'email' 'isInvalid')}}
								<small class="form-text text-danger">
									{{v-get this 'email' 'message'}}
								</small>
							{{/if}}
						{{/if}}

					</div>

					{{g-recaptcha onSuccess=(action "onCaptchaResolved") onExpired=(action "onCaptchaExpired")}}

					{{input
						type="submit"
						name="submitRequestResetPassword"
						id="submitRequestResetPassword"
						value="Submit"
						class="btn btn-login"
						disabled=isProcessing
					}}

				</form>

			</div>
		</div>

		<div class="col-12 col-md-6 order-md-1 align-self-center">
			<div class="signin-image text-center">
				<figure>
					<img src="assets/img/login-image.png" class="img-fluid mx-auto" alt="sing up image">
				</figure>
				{{#link-to (r "register") class="btn btn-login"}}{{t 'auth.register_form_header'}}{{/link-to}}
			</div>
		</div>

	</div>

</div>
